<h1>Pages</h1>
<% if @pages.any? %>
<ul>
    <% @pages.each do |page| %>
	<li><a href="/pages/#{page.id}"><strong><%= page.title %></strong></a></li>
	<% end %>
<% else %>
	<p> No pages created </p>
</ul>
<% end %>		
